@font-face {
	font-family: 'Nunito Sans';
	font-display: swap;
	font-weight: 300;
	src: url('@fontsource/nunito-sans/files/nunito-sans-latin-300-normal.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito Sans';
	font-display: swap;
	font-weight: 300;
	font-style: italic;
	src: url('@fontsource/nunito-sans/files/nunito-sans-latin-300-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito Sans';
	font-display: swap;
	font-weight: 400;
	src: url('@fontsource/nunito-sans/files/nunito-sans-latin-400-normal.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito Sans';
	font-display: swap;
	font-weight: 400;
	font-style: italic;
	src: url('@fontsource/nunito-sans/files/nunito-sans-latin-400-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito Sans';
	font-display: swap;
	font-weight: 600;
	src: url('@fontsource/nunito-sans/files/nunito-sans-latin-600-normal.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito Sans';
	font-display: swap;
	font-weight: 600;
	font-style: italic;
	src: url('@fontsource/nunito-sans/files/nunito-sans-latin-600-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito Sans';
	font-display: swap;
	font-weight: 700;
	src: url('@fontsource/nunito-sans/files/nunito-sans-latin-700-normal.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito Sans';
	font-display: swap;
	font-weight: 700;
	font-style: italic;
	src: url('@fontsource/nunito-sans/files/nunito-sans-latin-700-italic.woff2') format('woff2');
}

/* Fira Code */

@font-face {
	font-family: 'Fira Code';
	font-display: swap;
	font-weight: 400;
	src: url('@fontsource/fira-code/files/fira-code-latin-400-normal.woff2') format('woff2');
}

/* Dongle */

@font-face {
	font-family: 'Dongle';
	font-display: swap;
	font-weight: 700;
	src: url('@fontsource/dongle/files/dongle-latin-700-normal.woff2') format('woff2');
}

/* Roboto */

@font-face {
	font-family: 'Roboto';
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	src: url('@fontsource/roboto/files/roboto-latin-400-normal.woff2') format('woff2');
}

:root {
  // default theme color
  // can be overrided by uses `themeConfig` option
  --slidev-theme-primary: #005380;
  --slidev-theme-secondary: #f47b20;
}

.slidev-layout p, .slidev-layout li {
  line-height: 1.8;
}

.slidev-layout {
  font-family: 'Roboto';
  padding-top: 95px;
  padding-left: 70px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Dongle';
    letter-spacing: -0.02em;
    font-weight: bold;
    color: var(--slidev-theme-primary);
  	margin-bottom: 0 !important;

    code {
      font-size: 0.6em;
    }
  }

  background-image: url(../assets/logo.svg);
  background-position: 2rem 2rem;
  background-size: 150px;
  background-repeat: no-repeat;
}

.slidev-layout ul, .slidev-layout ol, .slidev-layout dl {
	margin-bottom: 0.5rem;
}

.slidev-layout li ul, .slidev-layout li ol, .slidev-layout li dl {
	margin-top: 0;
}

.slidev-layout li {
	margin-left: 2rem;
}

.slidev-layout.two-cols, .slidev-layout.two-cols-header {
	gap: 0.25rem 1rem;
}

.slidev-layout.two-cols-header {
  grid-template-rows: repeat(2, min-content) !important;
}

.slidev-layout.two-cols-header > div {
	margin: 0;
}

.col-right pre:first-of-type, .col-left pre:first-of-type {
  margin-top: 1rem;
}

.slidev-layout.center * {
  text-align: center;

  h1 {
    font-size:3rem;
  }
}
