@font-face {
	font-family: 'Nunito Sans';
	font-display: swap;
	font-weight: 300;
	src: url('@fontsource/nunito-sans/files/nunito-sans-latin-300-normal.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito Sans';
	font-display: swap;
	font-weight: 300;
	font-style: italic;
	src: url('@fontsource/nunito-sans/files/nunito-sans-latin-300-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito Sans';
	font-display: swap;
	font-weight: 400;
	src: url('@fontsource/nunito-sans/files/nunito-sans-latin-400-normal.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito Sans';
	font-display: swap;
	font-weight: 400;
	font-style: italic;
	src: url('@fontsource/nunito-sans/files/nunito-sans-latin-400-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito Sans';
	font-display: swap;
	font-weight: 600;
	src: url('@fontsource/nunito-sans/files/nunito-sans-latin-600-normal.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito Sans';
	font-display: swap;
	font-weight: 600;
	font-style: italic;
	src: url('@fontsource/nunito-sans/files/nunito-sans-latin-600-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito Sans';
	font-display: swap;
	font-weight: 700;
	src: url('@fontsource/nunito-sans/files/nunito-sans-latin-700-normal.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito Sans';
	font-display: swap;
	font-weight: 700;
	font-style: italic;
	src: url('@fontsource/nunito-sans/files/nunito-sans-latin-700-italic.woff2') format('woff2');
}

/* Fira Code */

@font-face {
	font-family: 'Fira Code';
	font-display: swap;
	font-weight: 400;
	src: url('@fontsource/fira-code/files/fira-code-latin-400-normal.woff2') format('woff2');
}

/* Dongle */

@font-face {
	font-family: 'Dongle';
	font-display: swap;
	font-weight: 700;
	src: url('@fontsource/dongle/files/dongle-latin-700-normal.woff2') format('woff2');
}

/* Roboto */

@font-face {
	font-family: 'Roboto';
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	src: url('@fontsource/roboto/files/roboto-latin-400-normal.woff2') format('woff2');
}

:root {
  // default theme color
  // can be overrided by uses `themeConfig` option
  --slidev-theme-primary: #005380;
  --slidev-theme-secondary: #f47b20;
}

.color-primary {
  color: var(--slidev-theme-primary)
}

.color-secondary {
  color: var(--slidev-theme-secondary)
}

.bg-primary {
  background-color: var(--slidev-theme-primary)
}

.bg-secondary {
  background-color: var(--slidev-theme-secondary)
}

.slidev-layout.title {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h2 {
    @apply text-5xl color-secondary;
  }

  h1+p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p+h2,
  ul+h2,
  table+h2 {
    @apply mt-10;
  }
}

.slidev-layout.end {
  @apply h-full grid;

  background-image: none;
  background-color: var(--slidev-theme-secondary);
  color: white;
  font-size: 2em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }
}

.slidev-layout {
  @apply h-full;

  font-family: 'Roboto';
  padding-top: 100px;
  padding-left: 70px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    font-family: 'Dongle';
    letter-spacing: -0.02em;
    font-weight: bold;
    @apply color-primary;

    code {
      font-size: 0.6em;
    }
  }

  li {
    @apply mb-2;
  }

  background-image: url(../assets/logo.svg);
  background-position: 2rem 2rem;
  background-size: 150px;
  background-repeat: no-repeat;
}

.slidev-layout.two-cols-header {
  grid-template-rows: repeat(2, min-content);
}
